/* top-bar / Topbar menus > Command menu > Command menu – BETA > Command button – BETA > Type=Expanded, In command=true */
.ob-type-expanded-in-command-true { display:inline-block; inline-size:513.0px; block-size:48.0px; aspect-ratio:513.0 / 48.0; line-height:0; }
