/* top-bar / Topbar menus > Command menu > Command menu – BETA > Command button – BETA > Type=Icon button, In command=false */
.ob-type-icon-button-in-command-false { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
