/* top-bar / Topbar menus > Command menu > Command menu – BETA > Command button – BETA > Type=Expanded, In command=false */
.ob-type-expanded-in-command-false { display:inline-block; inline-size:421.0px; block-size:48.0px; aspect-ratio:421.0 / 48.0; line-height:0; }
