/* notification-and-advice / Notifications and advice > Building block Advice > Advice message item */
.ob-advice-message-item { display:inline-block; inline-size:680.0px; block-size:656.0px; aspect-ratio:680.0 / 656.0; line-height:0; }
