/* top-bar / Topbar menus > User > User menu > Type=User sign in, Size=Regular */
.ob-type-user-sign-in-size-regular { display:inline-block; inline-size:320.0px; block-size:408.0px; aspect-ratio:320.0 / 408.0; line-height:0; }
