/* top-bar / Topbar menus > User > User menu > Type=Sign in, Size=Small */
.ob-type-sign-in-size-small { display:inline-block; inline-size:320.0px; block-size:316.0px; aspect-ratio:320.0 / 316.0; line-height:0; }
