/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Vertical icon > trailing-icon > alert-badge */
.ob-alert-badge { display:inline-block; inline-size:16.0px; block-size:16.0px; aspect-ratio:16.0 / 16.0; line-height:0; }
