/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer */
.ob-navigation-menu-footer { display:inline-block; inline-size:429.0px; block-size:839.0px; aspect-ratio:429.0 / 839.0; line-height:0; }
