/* gauges / 05_Gauges > Gauge-bar > Gauge-bar-horizontal > Negative=False, Style=Regular, Align=Bottom, Type=Tint bar */
.ob-negative-false-style-regular-align-bottom-type-tint-bar { display:inline-block; inline-size:384.0px; block-size:88.0px; aspect-ratio:384.0 / 88.0; line-height:0; }
