/* gauges / 05_Gauges > Gauge-bar > Gauge-bar-horizontal > Bar-positive */
.ob-bar-positive__instance-08 { display:inline-block; inline-size:48.0px; block-size:168.0px; aspect-ratio:48.0 / 168.0; line-height:0; }
