/* gauges / 05_Gauges > Gauge-bar > Gauge-bar-horizontal > label-area */
.ob-label-area__instance-05 { display:inline-block; inline-size:512.0px; block-size:216.0px; aspect-ratio:512.0 / 216.0; line-height:0; }
