/* building-blocks / 99_Building blocks Ship instruments > Main engine > config-main-engine-advice > Type=Pitch, Style=Regular */
.ob-type-pitch-style-regular { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
