/* gauges / 05_Gauges > Gauge-trend > Gauge-trend > has Scale=True, Type=Spline, Negative=True, Priority=Enhanced */
.ob-has-scale-true-type-spline-negative-true-priority-enhanced { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
