/* gauges / 05_Gauges > Gauge-trend > Gauge-trend > has Scale=True, Type=Bar, Negative=True, Priority=Regular */
.ob-has-scale-true-type-bar-negative-true-priority-regular { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
