/* gauges / 05_Gauges > Gauge-trend > Gauge-trend > has Scale=False, Type=Bar, Negative=False, Priority=Enhanced */
.ob-has-scale-false-type-bar-negative-false-priority-enhanced { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
