/* notification-and-advice / Notifications and advice > Building block Notification > Notification menu item */
.ob-notification-menu-item { display:inline-block; inline-size:624.0px; block-size:472.0px; aspect-ratio:624.0 / 472.0; line-height:0; }
