/* environment / 06_Environment > Wind > Wind > Type=Wind force, Priority=Enhanced */
.ob-type-wind-force-priority-enhanced { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
