/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Vertical icon + label */
.ob-type-vertical-icon-label { display:inline-block; inline-size:64.0px; block-size:256.0px; aspect-ratio:64.0 / 256.0; line-height:0; }
