/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Horizontal icon */
.ob-type-horizontal-icon { display:inline-block; inline-size:320.0px; block-size:48.0px; aspect-ratio:320.0 / 48.0; line-height:0; }
