/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Horizontal icon + label */
.ob-type-horizontal-icon-label { display:inline-block; inline-size:320.0px; block-size:64.0px; aspect-ratio:320.0 / 64.0; line-height:0; }
