/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Regular */
.ob-type-regular { display:inline-block; inline-size:320.0px; block-size:248.0px; aspect-ratio:320.0 / 248.0; line-height:0; }
