/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Vertical icon large */
.ob-type-vertical-icon-large { display:inline-block; inline-size:56.0px; block-size:200.0px; aspect-ratio:56.0 / 200.0; line-height:0; }
