/* top-bar / Topbar menus > App > App menu > Expand=true, Size=Large */
.ob-expand-true-size-large { display:inline-block; inline-size:360.0px; block-size:768.0px; aspect-ratio:360.0 / 768.0; line-height:0; }
