/* objects / 08_Objects > Air drones > Air-drone > Type=Small, View=STBD Side */
.ob-type-small-view-stbd-side { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
