/* motion / 04_Motion > Motion control > Pos-plot-BETA > Type=Ship trail > Frame 7858 > Frame 7860 > Frame 7861 > Pattern-alarm > Frame 7859 > Watch-face-pitch-roll-yaw > frame-size > Instrument */
.ob-instrument { display:inline-block; inline-size:96.0px; block-size:96.0px; aspect-ratio:96.0 / 96.0; line-height:0; }
