/* propulsion / 03_Propulsion > Tunnel-thruster > Tunnel-thruster > Priority=In command, Style=Propellar, State=Active */
.ob-priority-in-command-style-propellar-state-active { display:inline-block; inline-size:384.0px; block-size:168.0px; aspect-ratio:384.0 / 168.0; line-height:0; }
