/* propulsion / 03_Propulsion > Tunnel-thruster > Tunnel-thruster > Priority=Regular, Style=Propellar, State=Loading */
.ob-priority-regular-style-propellar-state-loading { display:inline-block; inline-size:384.0px; block-size:168.0px; aspect-ratio:384.0 / 168.0; line-height:0; }
