/* building-blocks / 99_Building blocks Ship instruments > Rudder > config-rudder-advice */
.ob-config-rudder-advice { display:inline-block; inline-size:589.0px; block-size:1150.0px; aspect-ratio:589.0 / 1150.0; line-height:0; }
