/* propulsion / 03_Propulsion > Main-engine > Main-engine > Style=Bar, Type=Pitch RPM, Priority=In command, State=Off */
.ob-style-bar-type-pitch-rpm-priority-in-command-state-off { display:inline-block; inline-size:216.0px; block-size:384.0px; aspect-ratio:216.0 / 384.0; line-height:0; }
