/* indicators / 07_Indicators > Conning > Conning-RateOfTurn > Type=Radial */
.ob-type-radial { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
