/* building-blocks / 99_Building blocks Ship instruments > Gauge radial > config-gauge-270-advice > Type=Area */
.ob-type-area { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
