/* objects / 08_Objects > Air drones > Air-drone > Type=Medium, View=Front */
.ob-type-medium-view-front { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
