/* navigation / 02_Navigation > Heading > Heading-linear > Type=Bar, Style=Enhanced */
.ob-type-bar-style-enhanced { display:inline-block; inline-size:384.0px; block-size:112.0px; aspect-ratio:384.0 / 112.0; line-height:0; }
