/* building-blocks / 99_Building blocks Ship instruments > Motion > config-pitchroll-roll-advice-frame */
.ob-config-pitchroll-roll-advice-frame { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
