/* notification-and-advice / Notifications and advice > Notification > Notification menu */
.ob-notification-menu { display:inline-block; inline-size:704.0px; block-size:964.0px; aspect-ratio:704.0 / 964.0; line-height:0; }
