/* navigation / 02_Navigation > Speed > Speed-gauge > Type=Bar, Style=Regular */
.ob-type-bar-style-regular { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
