/* motion / 04_Motion > 6 DOF > Attitude-indicator > Style=Speed Depth, Priority=Regular */
.ob-style-speed-depth-priority-regular { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
