/* notification-and-advice / Notifications and advice > Building block Advice > Advice message item > Type=with Button, Size=Tall */
.ob-type-with-button-size-tall { display:inline-block; inline-size:640.0px; block-size:64.0px; aspect-ratio:640.0 / 64.0; line-height:0; }
