/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Horizontal, Readout stacking=Vertical, Text stacking=Horizontal */
.ob-direction-horizontal-readout-stacking-vertical-text-stacking-horizontal { display:inline-block; inline-size:398.0px; block-size:192.0px; aspect-ratio:398.0 / 192.0; line-height:0; }
