/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Horizontal, Readout stacking=Horizontal, Text stacking=Vertical */
.ob-direction-horizontal-readout-stacking-horizontal-text-stacking-vertical { display:inline-block; inline-size:436.0px; block-size:108.0px; aspect-ratio:436.0 / 108.0; line-height:0; }
