/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Vertical, Readout stacking=Horizontal, Text stacking=Vertical */
.ob-direction-vertical-readout-stacking-horizontal-text-stacking-vertical { display:inline-block; inline-size:363.0px; block-size:451.0px; aspect-ratio:363.0 / 451.0; line-height:0; }
