/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Vertical, Readout stacking=Vertical, Text stacking=Vertical */
.ob-direction-vertical-readout-stacking-vertical-text-stacking-vertical { display:inline-block; inline-size:972.0px; block-size:192.0px; aspect-ratio:972.0 / 192.0; line-height:0; }
