/* notification-and-advice / Notifications and advice > Notification > Notification button > Type=Flat, State=Active, is Active=false */
.ob-type-flat-state-active-is-active-false { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
