/* main-navigation-elements / Main navigational elements > Topbar > Topbar > Type=Small */
.ob-type-small { display:inline-block; inline-size:640.0px; block-size:48.0px; aspect-ratio:640.0 / 48.0; line-height:0; }
