/* indicators / 07_Indicators > Environment > Environment-wind > tick-mark-length > wind-7 */
.ob-wind-7 { display:inline-block; inline-size:24.0px; block-size:24.0px; aspect-ratio:24.0 / 24.0; line-height:0; }
