/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Brilliance button > Type=Regular */
.ob-type-regular { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
