/* propulsion / 03_Propulsion > Azimuth-thruster > Azimuth-thruster > Documentation text */
.ob-documentation-text { display:inline-block; inline-size:792.0px; block-size:200.0px; aspect-ratio:792.0 / 200.0; line-height:0; }
