/* propulsion / 03_Propulsion > Rudder > Rudder > Priority=Regular, Style=Bar, State=Active */
.ob-priority-regular-style-bar-state-active { display:inline-block; inline-size:384.0px; block-size:144.0px; aspect-ratio:384.0 / 144.0; line-height:0; }
