/* top-bar / Topbar menus > Command menu > Command menu – BETA > Type=Propulsion command */
.ob-type-propulsion-command { display:inline-block; inline-size:720.0px; block-size:570.0px; aspect-ratio:720.0 / 570.0; line-height:0; }
