/* indicators / 07_Indicators > Gauges > Gauge-Bar > Direction=Horizontal, Type=Fill */
.ob-direction-horizontal-type-fill { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
