/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Brilliance button > Type=Actions */
.ob-type-actions { display:inline-block; inline-size:191.0px; block-size:48.0px; aspect-ratio:191.0 / 48.0; line-height:0; }
