/* main-navigation-elements / Main navigational elements > Toolbar > Toolbar */
.ob-toolbar { display:inline-block; inline-size:1984.0px; block-size:496.0px; aspect-ratio:1984.0 / 496.0; line-height:0; }
