/* readout / 01_Readout > Readout > Readout-stack > Size=Regular, Alignment=Center, Priority=Low integrity */
.ob-size-regular-alignment-center-priority-low-integrity { display:inline-block; inline-size:47.0px; block-size:60.0px; aspect-ratio:47.0 / 60.0; line-height:0; }
