/* readout / 01_Readout > Readout > Readout-stack > Size=Large, Alignment=Center, Priority=Low integrity */
.ob-size-large-alignment-center-priority-low-integrity { display:inline-block; inline-size:70.0px; block-size:80.0px; aspect-ratio:70.0 / 80.0; line-height:0; }
