/* propulsion / 03_Propulsion > Tunnel-thruster > Tunnel-thruster > Documentation text */
.ob-documentation-text { display:inline-block; inline-size:792.0px; block-size:172.0px; aspect-ratio:792.0 / 172.0; line-height:0; }
