/* propulsion / 03_Propulsion > Tunnel-thruster > Tunnel-thruster > Priority=Regular, Style=Bar, State=Off */
.ob-priority-regular-style-bar-state-off { display:inline-block; inline-size:384.0px; block-size:120.0px; aspect-ratio:384.0 / 120.0; line-height:0; }
