/* propulsion / 03_Propulsion > Tunnel-thruster > Tunnel-thruster > Priority=In command, Style=Bar, State=Ready */
.ob-priority-in-command-style-bar-state-ready { display:inline-block; inline-size:384.0px; block-size:120.0px; aspect-ratio:384.0 / 120.0; line-height:0; }
