/* readout / 01_Readout > Readout > Readout-list-item > Readout size=Base, Unit position=Trailing, Priority=Input flip flop */
.ob-readout-size-base-unit-position-trailing-priority-input-flip-flop { display:inline-block; inline-size:160.0px; block-size:20.0px; aspect-ratio:160.0 / 20.0; line-height:0; }
