/* readout / 01_Readout > Readout > Readout-list-item > Readout size=Enhanced, Unit position=Leading, Priority=Invalid */
.ob-readout-size-enhanced-unit-position-leading-priority-invalid { display:inline-block; inline-size:160.0px; block-size:48.0px; aspect-ratio:160.0 / 48.0; line-height:0; }
