/* readout / 01_Readout > Readout > Readout-list-item > Readout size=Priority, Unit position=Leading, Priority=Input flip flop */
.ob-readout-size-priority-unit-position-leading-priority-input-flip-flop { display:inline-block; inline-size:160.0px; block-size:24.0px; aspect-ratio:160.0 / 24.0; line-height:0; }
