/* readout / 01_Readout > Readout > Readout-list-item > Readout size=Priority, Unit position=Trailing, Priority=Enhanced */
.ob-readout-size-priority-unit-position-trailing-priority-enhanced { display:inline-block; inline-size:160.0px; block-size:32.0px; aspect-ratio:160.0 / 32.0; line-height:0; }
