/* navigation / 02_Navigation > Heading > Heading-radial > Type=Vessel type, Scaling=proportional, Priority=Enhanced */
.ob-type-vessel-type-scaling-proportional-priority-enhanced { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
