/* top-bar / Topbar menus > System > System menu > Type=Audio - off */
.ob-type-audio-off { display:inline-block; inline-size:320.0px; block-size:472.0px; aspect-ratio:320.0 / 472.0; line-height:0; }
