/* top-bar / Topbar menus > System > System menu > Type=Microphone - on */
.ob-type-microphone-on { display:inline-block; inline-size:320.0px; block-size:528.0px; aspect-ratio:320.0 / 528.0; line-height:0; }
