/* top-bar / Topbar menus > System > System button > Type=Actions, State=Enabled */
.ob-type-actions-state-enabled { display:inline-block; inline-size:266.0px; block-size:48.0px; aspect-ratio:266.0 / 48.0; line-height:0; }
