/* top-bar / Topbar menus > System > System button > Type=Expanded, State=Disabled */
.ob-type-expanded-state-disabled { display:inline-block; inline-size:176.0px; block-size:48.0px; aspect-ratio:176.0 / 48.0; line-height:0; }
