/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu – Sub page > Content=Settings, Spatious=false */
.ob-content-settings-spatious-false { display:inline-block; inline-size:320.0px; block-size:847.0px; aspect-ratio:320.0 / 847.0; line-height:0; }
