/* readout / 01_Readout > Readout > Readout-stack > Size=Medium, Alignment=Vertical, Priority=Input */
.ob-size-medium-alignment-vertical-priority-input { display:inline-block; inline-size:53.0px; block-size:64.0px; aspect-ratio:53.0 / 64.0; line-height:0; }
