/* motion / 04_Motion > 6 DOF > Heave > Watch-face-heave > heave-bar > Type=Bar, Style=Regular */
.ob-type-bar-style-regular { display:inline-block; inline-size:128.0px; block-size:384.0px; aspect-ratio:128.0 / 384.0; line-height:0; }
