/* gauges / 05_Gauges > Gauge-bar > Gauge-vertical > Advice > Negative=True, Priority=Regular, Alignment=Right, Type=Fill bar */
.ob-negative-true-priority-regular-alignment-right-type-fill-bar { display:inline-block; inline-size:120.0px; block-size:384.0px; aspect-ratio:120.0 / 384.0; line-height:0; }
