/* notification-and-advice / Notifications and advice > Advice > Advice button > Type=Normal, State=Enabled, is Active=true */
.ob-type-normal-state-enabled-is-active-true { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
