/* navigation / 02_Navigation > Rate of Turn > ROT-sector > Style=Regular, Center label=true */
.ob-style-regular-center-label-true { display:inline-block; inline-size:384.0px; block-size:160.0px; aspect-ratio:384.0 / 160.0; line-height:0; }
