/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Brilliance button */
.ob-brilliance-button { display:inline-block; inline-size:255.0px; block-size:184.0px; aspect-ratio:255.0 / 184.0; line-height:0; }
