/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Options=Condenced */
.ob-options-condenced { display:inline-block; inline-size:320.0px; block-size:416.0px; aspect-ratio:320.0 / 416.0; line-height:0; }
