/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Options=Brilliance & Palette - Small screen */
.ob-options-brilliance-and-palette-small-screen { display:inline-block; inline-size:317.0px; block-size:320.0px; aspect-ratio:317.0 / 320.0; line-height:0; }
