/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Options=Brilliance & Palette */
.ob-options-brilliance-and-palette { display:inline-block; inline-size:320.0px; block-size:600.0px; aspect-ratio:320.0 / 600.0; line-height:0; }
