/* top-bar / Topbar menus > Brilliance menu > Brilliance menu > Options=Brilliance (%) */
.ob-options-brilliance { display:inline-block; inline-size:320.0px; block-size:304.0px; aspect-ratio:320.0 / 304.0; line-height:0; }
