/* top-bar / Topbar menus > System > System menu > Type=Menu - Regular */
.ob-type-menu-regular { display:inline-block; inline-size:320.0px; block-size:504.0px; aspect-ratio:320.0 / 504.0; line-height:0; }
