/* top-bar / Topbar menus > System > System menu > Type=Audio - Small screen */
.ob-type-audio-small-screen { display:inline-block; inline-size:317.0px; block-size:375.0px; aspect-ratio:317.0 / 375.0; line-height:0; }
