/* top-bar / Topbar menus > System > System menu > Type=Menu - Condensed */
.ob-type-menu-condensed { display:inline-block; inline-size:320.0px; block-size:312.0px; aspect-ratio:320.0 / 312.0; line-height:0; }
