/* top-bar / Topbar menus > App > App menu > Expand=false, Size=Small */
.ob-expand-false-size-small { display:inline-block; inline-size:304.0px; block-size:304.0px; aspect-ratio:304.0 / 304.0; line-height:0; }
