/* top-bar / Topbar menus > App > App menu > Expand=true, Size=Small */
.ob-expand-true-size-small { display:inline-block; inline-size:304.0px; block-size:688.0px; aspect-ratio:304.0 / 688.0; line-height:0; }
