/* top-bar / Topbar menus > App > App menu > Expand=false, Size=Large */
.ob-expand-false-size-large { display:inline-block; inline-size:360.0px; block-size:384.0px; aspect-ratio:360.0 / 384.0; line-height:0; }
