/* readout / 01_Readout > Readout > Readout-group > Size=Regular, Direction=Vertical, Priority=Invalid */
.ob-size-regular-direction-vertical-priority-invalid { display:inline-block; inline-size:74.0px; block-size:48.0px; aspect-ratio:74.0 / 48.0; line-height:0; }
