/* readout / 01_Readout > Readout > Readout-group > Size=Large, Direction=Vertical, Priority=Invalid */
.ob-size-large-direction-vertical-priority-invalid { display:inline-block; inline-size:74.0px; block-size:64.0px; aspect-ratio:74.0 / 64.0; line-height:0; }
