/* readout / 01_Readout > Readout > Readout-group > Size=Large, Direction=Vertical, Priority=Input */
.ob-size-large-direction-vertical-priority-input { display:inline-block; inline-size:78.0px; block-size:64.0px; aspect-ratio:78.0 / 64.0; line-height:0; }
