/* readout / 01_Readout > Readout > Readout-group > Size=Large, Direction=Horizontal, Priority=Low integrity */
.ob-size-large-direction-horizontal-priority-low-integrity { display:inline-block; inline-size:109.0px; block-size:48.0px; aspect-ratio:109.0 / 48.0; line-height:0; }
