/* top-bar / Topbar menus > System > System button > Type=Condensed, State=Active */
.ob-type-condensed-state-active { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
