/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Context menu */
.ob-context-menu { display:inline-block; inline-size:233.33px; block-size:248.0px; aspect-ratio:233.33 / 248.0; line-height:0; }
