/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu – Sub page */
.ob-navigation-menu-sub-page { display:inline-block; inline-size:788.0px; block-size:892.0px; aspect-ratio:788.0 / 892.0; line-height:0; }
