/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Type=Condenced, Navigation=Tree navigation */
.ob-type-condenced-navigation-tree-navigation { display:inline-block; inline-size:320.0px; block-size:312.0px; aspect-ratio:320.0 / 312.0; line-height:0; }
