/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Type=Rail labeled, Navigation=Regular */
.ob-type-rail-labeled-navigation-regular { display:inline-block; inline-size:64.0px; block-size:800.0px; aspect-ratio:64.0 / 800.0; line-height:0; }
