/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Type=Full height, Navigation=Flyout */
.ob-type-full-height-navigation-flyout { display:inline-block; inline-size:320.0px; block-size:800.0px; aspect-ratio:320.0 / 800.0; line-height:0; }
