/* objects / 08_Objects > Underwater drones > ROV > Type=ROV, View=Side, CCRP=False */
.ob-type-rov-view-side-ccrp-false { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
