/* navigation / 02_Navigation > Rate of Turn > ROT-linear > Type=Bar Readout, Style=Regular */
.ob-type-bar-readout-style-regular { display:inline-block; inline-size:384.0px; block-size:168.0px; aspect-ratio:384.0 / 168.0; line-height:0; }
