/* top-bar / Topbar menus > User > User menu > Type=Signed in, Size=Small */
.ob-type-signed-in-size-small { display:inline-block; inline-size:320.0px; block-size:164.0px; aspect-ratio:320.0 / 164.0; line-height:0; }
