/* top-bar / Topbar menus > User > User menu > Type=Signed in, Size=Regular */
.ob-type-signed-in-size-regular { display:inline-block; inline-size:320.0px; block-size:417.0px; aspect-ratio:320.0 / 417.0; line-height:0; }
