/* top-bar / Topbar menus > User > User menu > Type=Sign in, Size=Regular */
.ob-type-sign-in-size-regular { display:inline-block; inline-size:320.0px; block-size:352.0px; aspect-ratio:320.0 / 352.0; line-height:0; }
