/* top-bar / Topbar menus > User > User menu > Type=Loading sign in, Size=Regular */
.ob-type-loading-sign-in-size-regular { display:inline-block; inline-size:320.0px; block-size:200.0px; aspect-ratio:320.0 / 200.0; line-height:0; }
