/* top-bar / Topbar menus > User > User menu > Type=Loading sign in, Size=Small */
.ob-type-loading-sign-in-size-small { display:inline-block; inline-size:320.0px; block-size:148.0px; aspect-ratio:320.0 / 148.0; line-height:0; }
