/* navigation / 02_Navigation > Heading > Heading-sector > Type=Regular, Style=Enhanced */
.ob-type-regular-style-enhanced { display:inline-block; inline-size:384.0px; block-size:144.0px; aspect-ratio:384.0 / 144.0; line-height:0; }
