/* gauges / 05_Gauges > Watch > Digital-numbers-BETA > Number=1, Type=Hour */
.ob-number-1-type-hour { display:inline-block; inline-size:24.0px; block-size:32.0px; aspect-ratio:24.0 / 32.0; line-height:0; }
