/* top-bar / Topbar menus > Building block Calendar > Event item > State=Disabled, Type=Aggregated */
.ob-state-disabled-type-aggregated { display:inline-block; inline-size:288.0px; block-size:48.0px; aspect-ratio:288.0 / 48.0; line-height:0; }
