/* top-bar / Topbar menus > Building block Calendar > Event item > State=Enabled, Type=Single line */
.ob-state-enabled-type-single-line { display:inline-block; inline-size:288.0px; block-size:48.0px; aspect-ratio:288.0 / 48.0; line-height:0; }
