/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Context menu */
.ob-context-menu__instance-02 { display:inline-block; inline-size:200.0px; block-size:248.0px; aspect-ratio:200.0 / 248.0; line-height:0; }
