/* main-navigation-elements / Main navigational elements > Navigation menu > Navigation menu > Type=Rail, Navigation=Flyout expanded */
.ob-type-rail-navigation-flyout-expanded { display:inline-block; inline-size:56.0px; block-size:800.0px; aspect-ratio:56.0 / 800.0; line-height:0; }
