/* notification-and-advice / Notifications and advice > Building block Notification > Notification message item > Type=with Button, Size=Tall size */
.ob-type-with-button-size-tall-size { display:inline-block; inline-size:640.0px; block-size:64.0px; aspect-ratio:640.0 / 64.0; line-height:0; }
