/* navigation / 02_Navigation > Heading > Heading-sector > mask > Type=Center label, Style=Regular */
.ob-type-center-label-style-regular { display:inline-block; inline-size:384.0px; block-size:160.0px; aspect-ratio:384.0 / 160.0; line-height:0; }
