/* motion / 04_Motion > 6 DOF > Pitch-roll-yaw > frame-size > bar-area */
.ob-bar-area__instance-06 { display:inline-block; inline-size:368.0px; block-size:368.0px; aspect-ratio:368.0 / 368.0; line-height:0; }
