/* navigation / 02_Navigation > Depth > Depth > Style=Vessel scale, Depth type=Regular */
.ob-style-vessel-scale-depth-type-regular { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
