/* environment / 06_Environment > Wind > Current > Documentation text */
.ob-documentation-text { display:inline-block; inline-size:792.0px; block-size:116.0px; aspect-ratio:792.0 / 116.0; line-height:0; }
