/* propulsion / 03_Propulsion > Wind-propulsion > Wind-propulsion */
.ob-wind-propulsion { display:inline-block; inline-size:480.0px; block-size:1536.0px; aspect-ratio:480.0 / 1536.0; line-height:0; }
