/* notification-and-advice / Notifications and advice > Building block Advice > Advice message item > Type=Inactive, Size=Regular size */
.ob-type-inactive-size-regular-size { display:inline-block; inline-size:640.0px; block-size:48.0px; aspect-ratio:640.0 / 48.0; line-height:0; }
