/* motion / 04_Motion > Motion control > Pos-plot-BETA > Type=Capacity-plot > Frame 7858 > Frame 7860 > Frame 7861 > Pattern-alarm > Frame 7859 > Watch-face-pitch-roll-yaw */
.ob-watch-face-pitch-roll-yaw { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
