/* top-bar / Topbar menus > Command menu > Command menu – BETA > Command button – BETA */
.ob-command-button-beta { display:inline-block; inline-size:562.0px; block-size:472.0px; aspect-ratio:562.0 / 472.0; line-height:0; }
