/* top-bar / Topbar menus > Command menu > Command menu – BETA > Type=Command other place */
.ob-type-command-other-place { display:inline-block; inline-size:360.0px; block-size:249.0px; aspect-ratio:360.0 / 249.0; line-height:0; }
