/* motion / 04_Motion > Motion control > Pos-plot-BETA > Type=Heading > frame-shape */
.ob-frame-shape { display:inline-block; inline-size:376.0px; block-size:376.0px; aspect-ratio:376.0 / 376.0; line-height:0; }
