/* objects / 08_Objects > Vessels > Vessel > Type=SOV, View=Top, CCRP=False */
.ob-type-sov-view-top-ccrp-false { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
