/* objects / 08_Objects > Vessels > Vessel > Type=Cargo, View=Side, CCRP=False */
.ob-type-cargo-view-side-ccrp-false { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
