/* objects / 08_Objects > Vessels > Vessel > Type=Tanker, View=Fore, CCRP=False */
.ob-type-tanker-view-fore-ccrp-false { display:inline-block; inline-size:160.0px; block-size:160.0px; aspect-ratio:160.0 / 160.0; line-height:0; }
