/* top-bar / Topbar menus > Command menu > Command menu – BETA > Command button – BETA > Type=Icon full, In command=false */
.ob-type-icon-full-in-command-false { display:inline-block; inline-size:310.0px; block-size:48.0px; aspect-ratio:310.0 / 48.0; line-height:0; }
