/* building-blocks / 99_Building blocks Ship instruments > Gauge-bar > config-gauge-vertical-advice */
.ob-config-gauge-vertical-advice { display:inline-block; inline-size:686.0px; block-size:1151.0px; aspect-ratio:686.0 / 1151.0; line-height:0; }
