/* readout / 01_Readout > Readout > Readout-group > Size=Large, Direction=Horizontal, Priority=Input - Flip flop */
.ob-size-large-direction-horizontal-priority-input-flip-flop { display:inline-block; inline-size:79.0px; block-size:48.0px; aspect-ratio:79.0 / 48.0; line-height:0; }
