/* readout / 01_Readout > Readout > Readout-group > Size=Medium, Direction=Vertical, Priority=Input - Flip flop */
.ob-size-medium-direction-vertical-priority-input-flip-flop { display:inline-block; inline-size:74.0px; block-size:40.0px; aspect-ratio:74.0 / 40.0; line-height:0; }
