/* readout / 01_Readout > Readout > Readout-group > Size=Medium, Direction=Horizontal, Priority=Enhanced */
.ob-size-medium-direction-horizontal-priority-enhanced { display:inline-block; inline-size:74.0px; block-size:48.0px; aspect-ratio:74.0 / 48.0; line-height:0; }
