/* motion / 04_Motion > 6 DOF > Heave > Watch-face-heave > heave-bar */
.ob-heave-bar__instance-02 { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
