/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Horizontal, Readout stacking=Vertical, Text stacking=Vertical */
.ob-direction-horizontal-readout-stacking-vertical-text-stacking-vertical { display:inline-block; inline-size:418.0px; block-size:344.0px; aspect-ratio:418.0 / 344.0; line-height:0; }
