/* readout / 01_Readout > Layout presets > Layout-preset > Direction=Vertical, Readout stacking=Vertical, Text stacking=Horizontal */
.ob-direction-vertical-readout-stacking-vertical-text-stacking-horizontal { display:inline-block; inline-size:198.0px; block-size:372.0px; aspect-ratio:198.0 / 372.0; line-height:0; }
