/* top-bar / Topbar menus > Command menu > Command menu – BETA */
.ob-command-menu-beta { display:inline-block; inline-size:1960.0px; block-size:622.0px; aspect-ratio:1960.0 / 622.0; line-height:0; }
