/* notification-and-advice / Notifications and advice > Notification > Notification button */
.ob-notification-button { display:inline-block; inline-size:384.0px; block-size:296.0px; aspect-ratio:384.0 / 296.0; line-height:0; }
