/* notification-and-advice / Notifications and advice > Notification > Notification floating item */
.ob-notification-floating-item { display:inline-block; inline-size:704.0px; block-size:520.0px; aspect-ratio:704.0 / 520.0; line-height:0; }
