/* gauges / 05_Gauges > Gauge-radial > Gauge-radial-180 > Type=Tint bar, Enhanced=true */
.ob-type-tint-bar-enhanced-true { display:inline-block; inline-size:384.0px; block-size:216.0px; aspect-ratio:384.0 / 216.0; line-height:0; }
