/* navigation / 02_Navigation > Heading > Heading-linear > Type=Bar Readout, Style=Enhanced */
.ob-type-bar-readout-style-enhanced { display:inline-block; inline-size:384.0px; block-size:168.0px; aspect-ratio:384.0 / 168.0; line-height:0; }
