/* motion / 04_Motion > Motion control > Pos-plot-BETA > Type=Heading > frame-shape > frame-shape > track-shape */
.ob-track-shape { display:inline-block; inline-size:328.0px; block-size:328.0px; aspect-ratio:328.0 / 328.0; line-height:0; }
