/* motion / 04_Motion > Motion control > Pos-plot-BETA > Type=Heading > frame-shape > frame-shape > frame-shape > track-shape */
.ob-track-shape__instance-02 { display:inline-block; inline-size:376.0px; block-size:376.0px; aspect-ratio:376.0 / 376.0; line-height:0; }
