/* top-bar / Topbar menus > Building block Calendar > Date item > Size=Small, Type=Unchecked, State=Hover */
.ob-size-small-type-unchecked-state-hover { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
