/* top-bar / Topbar menus > Building block Calendar > Date item > Size=Large, Type=Enhanced, State=Hover */
.ob-size-large-type-enhanced-state-hover { display:inline-block; inline-size:201.0px; block-size:155.0px; aspect-ratio:201.0 / 155.0; line-height:0; }
