/* propulsion / 03_Propulsion > Wind-propulsion > Wind-propulsion > Priority=Enhanced, Force=Side Thrust */
.ob-priority-enhanced-force-side-thrust { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
