/* main-navigation-elements / Main navigational elements > Topbar > Topbar > Type=Overlay */
.ob-type-overlay { display:inline-block; inline-size:1920.0px; block-size:48.0px; aspect-ratio:1920.0 / 48.0; line-height:0; }
