/* main-navigation-elements / Main navigational elements > Topbar > Topbar > Type=Tall */
.ob-type-tall { display:inline-block; inline-size:1920.0px; block-size:64.0px; aspect-ratio:1920.0 / 64.0; line-height:0; }
