/* main-navigation-elements / Main navigational elements > Topbar > Topbar > Type=Small double */
.ob-type-small-double { display:inline-block; inline-size:640.0px; block-size:96.0px; aspect-ratio:640.0 / 96.0; line-height:0; }
