/* motion / 04_Motion > Motion control > Draft-trim > Draft-fore */
.ob-draft-fore__instance-02 { display:inline-block; inline-size:120.0px; block-size:384.0px; aspect-ratio:120.0 / 384.0; line-height:0; }
