/* building-blocks / 99_Building blocks Ship instruments > Azimuth > config-azimuth-advice-caution */
.ob-config-azimuth-advice-caution { display:inline-block; inline-size:512.0px; block-size:512.0px; aspect-ratio:512.0 / 512.0; line-height:0; }
