/* main-navigation-elements / Main navigational elements > Building block Navigation menu > Navigation menu footer > Type=Vertical icon */
.ob-type-vertical-icon { display:inline-block; inline-size:48.0px; block-size:192.0px; aspect-ratio:48.0 / 192.0; line-height:0; }
