/* gauges / 05_Gauges > Gauge-bar > Gauge-vertical > Negative=True, Priority=Regular, Alignment=Left, Type=Tint bar */
.ob-negative-true-priority-regular-alignment-left-type-tint-bar { display:inline-block; inline-size:120.0px; block-size:384.0px; aspect-ratio:120.0 / 384.0; line-height:0; }
