/* gauges / 05_Gauges > Gauge-bar > Gauge-vertical > Negative=False, Priority=Enhanced, Alignment=Left, Type=Fill bar */
.ob-negative-false-priority-enhanced-alignment-left-type-fill-bar { display:inline-block; inline-size:120.0px; block-size:384.0px; aspect-ratio:120.0 / 384.0; line-height:0; }
