/* indicators / 07_Indicators > Environment > Environment-current > tick-mark-length > current-3 */
.ob-current-3 { display:inline-block; inline-size:24.0px; block-size:24.0px; aspect-ratio:24.0 / 24.0; line-height:0; }
