/* propulsion / 03_Propulsion > Main-engine > Main-engine > Style=Propellar, Type=Power, Priority=Regular, State=Input */
.ob-style-propellar-type-power-priority-regular-state-input { display:inline-block; inline-size:160.0px; block-size:384.0px; aspect-ratio:160.0 / 384.0; line-height:0; }
