/* motion / 04_Motion > 6 DOF > Pitch > Type=Single scale, Style=Enhanced, has Readout=true */
.ob-type-single-scale-style-enhanced-has-readout-true { display:inline-block; inline-size:384.0px; block-size:384.0px; aspect-ratio:384.0 / 384.0; line-height:0; }
