/* top-bar / Topbar menus > Building block Calendar > Event item > State=Disabled, Type=Double line */
.ob-state-disabled-type-double-line { display:inline-block; inline-size:288.0px; block-size:56.0px; aspect-ratio:288.0 / 56.0; line-height:0; }
