/* indicators / 07_Indicators > Gauges > Gauge-Radial > Sector=270, Style=Regular */
.ob-sector-270-style-regular { display:inline-block; inline-size:48.0px; block-size:48.0px; aspect-ratio:48.0 / 48.0; line-height:0; }
